.navbar {
  display: flex;
  height: 4rem;
  align-items: center;
  flex-direction: row;
  column-gap: 2rem;
  padding: 10px 40px;
}

.navbar-item {
  text-decoration: none;
  color: black;
  transition: color 0.2s linear;
}

.navbar-item:hover {
  color: grey;
}
