.main-panel {
  padding: 10px 400px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  height: 80%;
}
.task-description {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.task-description.clicked {
  opacity: 0.5;
  pointer-events: none;
}

.task-header {
  font-size: large;
}

.task-button {
  background-color: white;
  border: lightgrey 1px solid;
  font-size: large;
  border-radius: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s linear;
}

.task-button:hover {
  background-color: lightgrey;
}

.task-task-button:hover {
  background-color: lightgray;
}

.task-title {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.info-button {
  margin: 5px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  border: lightgrey 1px solid;
  background-color: white;
  transition: background-color 0.3s linear;
}

.info-button:hover {
  background-color: lightgray;
}

.task-input-field {
  padding: 10px 10px;
  box-sizing: border-box;
  width: 100%;
  border: none;
}

.task-task-text {
  opacity: 0.5;
  user-select: none;
  font-size: xx-large;
}

.task-task-text.enabled {
  opacity: 1;
  color: red;
}

.task-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.next-task-button {
  display: none;
}

.next-task-button.completed {
  display: flex;
  border: lightgray 1px solid;
  background-color: white;
  font-size: large;
  border-radius: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s linear;
}

.next-task-button.completed:hover {
  background-color: lightgray;
}

.next-task-button-holder {
  display: flex;
  justify-content: end;
}

.next-experiment-button {
  display: none;
}

.next-experiment-button.completed {
  display: flex;
  background-color: rgb(76, 216, 81);
  font-size: large;
  border-radius: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s linear;
}

.next-experiment-button.completed:hover {
  background-color: rgb(54, 188, 59);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: small;
  visibility: hidden;
  background-color: white;
  font-weight: lighter;
  color: black;
  padding: 10px;
  border: lightgrey 1px solid;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  width: 300px;
  bottom: 100%;
  left: 50%;
  margin-left: -150px;
  text-align: center;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
